[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
django-filter = "*"
drf-spectacular = "*"
firebase-admin = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
